#btn {
      background-color: red;
      padding: 8px 30px;
      border: 2px solid black;
      border-radius: 10px;
      font-weight: bolder;
      font-size: 17px;
}

#maindiv{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      background-color: black;
      color: red;
      height: 400px;
      width: 400px;
      border: 8px solid red;
      border-radius: 10px;
      display: none;
}
