*{
    padding: 0;
    margin: 0;
}
.main {
    flex-wrap:wrap ;
    gap: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

#Box{
    display: none;
}


.button {
    background-color: red;
    padding: 10px 20px;
    border-style: none;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 0px;
    
}

