#Print {
    background: violet;
    padding: 10px 25px;
    border-radius: 10px;
    
}

@media print {
    body {
        visibility: hidden;

    }

    #PrintTo {
        visibility: visible;
    }
}